* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body,
  html {
    overflow-x: hidden;
    width: 100%;
  }
  
  .App {
    background: rgba(27, 27, 27, 1);
    min-height: 100vh;
  }
  
 
