.hero-section {
  padding: 150px 30px;
  position: relative;
}

.hero-content {
  display: flex;
}

.hero-left {
  position: relative;
  margin: 100px 160px 0px 0px;
}

.yellow-square {
  width: 429px;
  height: 455px;
  background: rgba(250, 191, 55, 1);
  border-radius: 31px;
}

.hero-photo {
  width: 429px;
  height: 820px;
  object-fit: cover;
  position: relative;
  bottom: 360px;
  z-index: 1;
}

.text-with-arrow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.arrow {
  position: absolute;
}

.right-arrow {
  left: -670px;
  object-fit: contain;
  z-index: 0;
}

.left-arrow {
  right: -105px;
  object-fit: contain;
}


.upper-hero-text {
  position: relative;
  left: 700px;
}

.hero-right h1 {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.highlight-pink {
  color: rgba(240, 84, 165, 1);
}

.highlight-green {
  color: rgba(203, 213, 56, 1);
}

.social {
  padding-top: 110px;
}

.social-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  margin-right: 100px;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.social-icon {
  width: 72px;
  aspect-ratio: 1;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.5;
}

.hero-right > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
