.hero-section {
  padding: 7.81vw 1.56vw;
  position: relative;
}

.hero-content {
  display: flex;
}

.hero-left {
  position: relative;
  margin: 5.2vw 8.33vw 0vw 0vw;
}

.yellow-square {
  width: 22.34vw;
  height: 23.69vw;
  background: rgba(250, 191, 55, 1);
  border-radius: 1.61vw;
}

.hero-photo {
  width: 22.34vw;
  height: 42.7vw;
  object-fit: cover;
  position: relative;
  bottom: 18.75vw;
  z-index: 1;
}

.text-with-arrow {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.arrow {
  position: absolute;
}

.right-arrow {
  width: 67.96vw;
  left: -34.89vw;
  object-fit: contain;
  z-index: 0;
}

.left-arrow {
  width: 43.95vw;
  right: -5.46vw;
  object-fit: contain;
}


.upper-hero-text {
  position: relative;
  left: 36.45vw;
}

.hero-right h1 {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: 5vw;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}

.highlight-pink {
  color: rgba(240, 84, 165, 1);
}

.highlight-green {
  color: rgba(203, 213, 56, 1);
}

.social {
  padding-top: 5.72vw;
}

.social-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  margin-right: 5.2vw;
}

.social-icons {
  display: inline-flex;
  align-items: center;
  gap: 1.04vw;
}

.social-icon {
  width: 3.75vw;
  aspect-ratio: 1;
  transition: opacity 0.3s ease;
}

.social-icon:hover {
  opacity: 0.5;
}

.hero-right > div:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
